.row{
    padding: 10px;
}
div{
    text-align: center;
    background-color: black;
    color: aliceblue;
}

@media (min-width: 576px){
    #foto{
        position: absolute;
        width: 15%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px grey;
        left: 4%;
        top: 700px;
    }
}
@media (max-width: 576px){
    #foto{
        position: absolute;
        width: 15%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px grey;
        left: 4%;
    
    }
}