<div class="row">
    <h1 id="titulo">Experiencia Laboral</h1>

    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Trabajo 1</h1> -
                <h3>Años </h3>
            </li>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eligendi eaque, at aliquid, animi libero illum
                cumque aspernatur tenetur quae accusantium rerum, ex iusto asperiores veritatis odit magni laboriosam
                voluptatibus earum!</p>
        </ul>
        <ul>
            <li>
                <h1>Trabajo 2</h1> - 
                <h3>Años </h3>
            </li>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eligendi eaque, at aliquid, animi libero illum
                cumque aspernatur tenetur quae accusantium rerum, ex iusto asperiores veritatis odit magni laboriosam
                voluptatibus earum!</p>
        </ul>
        <ul>
            <li>
                <h1>Trabajo 3</h1> - 
                <h3>Años </h3>
            </li>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eligendi eaque, at aliquid, animi libero illum
                cumque aspernatur tenetur quae accusantium rerum, ex iusto asperiores veritatis odit magni laboriosam
                voluptatibus earum!</p>
        </ul>


    </div>

</div>