<div class="row">
    <h1>Proyectos</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h3>Proyecto 1</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates recusandae ipsam mollitia nihil a
                doloribus perspiciatis ut cumque molestias distinctio dicta vel consequatur, fugit, et sint veniam omnis
                nostrum vero?</p>
               
        </div>
         <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1" >
            <img src="../../../assets/proyecto1.jpg" alt="">
        </div>
        <div>
            <h3>Proyecto 2</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A quisquam quis dolorem molestiae sapiente
                officiis officia placeat repellat unde veritatis consequatur at molestias, libero aut quae, ducimus
                culpa sunt fugit.</p>
            <img src="../../../assets/proyecto2.jpg" alt="">
        </div>


        <div> 
            <h3> Proyecto 3</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Beatae, nisi aliquid dicta aliquam illum nobis
            consequuntur dignissimos? Corrupti velit cupiditate porro. Facilis animi molestias illo corporis nobis
            minima inventore magni.</p>
            <img src="../../../assets/proyecto3.jpg" alt="">
        </div>
    </div>

</div>