<div class="row">
    <h1 id="titulo">Skills </h1>
  <div class="col-sm-4 col-md-4 col-lg-4">

    <circle-progress
    [percent]="90"
    [radius]="100"
    [showUnits]="false"
    [showSubtitle]="false"
    [imageSrc]="'../assets/html-5.png'"
    [showImage]="true"
    [imageHeight]="80"
    [imageWidth]="80"
    [title]="'HTML'"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#1f3240'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="900"
  ></circle-progress>

  </div> 
  <div class="col-sm-4 col-md-4 col-lg-4">

    <circle-progress
    [percent]="70"
    [radius]="100"
    [showUnits]="false"
    [showSubtitle]="false"
    [imageSrc]="'../assets/piton.png'"
    [showImage]="true"
    [imageHeight]="80"
    [imageWidth]="80"
    [title]="'HTML'"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#1f3240'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="900"
  ></circle-progress>

  </div> 
  <div class="col-sm-4 col-md-4 col-lg-4">

    <circle-progress
    [percent]="50"
    [radius]="100"
    [showUnits]="false"
    [showSubtitle]="false"
    [imageSrc]="'../assets/secuencia-de-comandos-de-java.png'"
    [showImage]="true"
    [imageHeight]="80"
    [imageWidth]="80"
    [title]="'HTML'"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#1f3240'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="900"
  ></circle-progress>

  </div> 
  <div class="col-sm-4 col-md-4 col-lg-4">

    <circle-progress
    [percent]="25"
    [radius]="100"
    [showUnits]="false"
    [showSubtitle]="false"
    [imageSrc]="'../assets/css.png'"
    [showImage]="true"
    [imageHeight]="80"
    [imageWidth]="80"
    [title]="'HTML'"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#1f3240'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="900"
  ></circle-progress>

  </div> 
  <div class="col-sm-4 col-md-4 col-lg-4">

    <circle-progress
    [percent]="75"
    [radius]="100"
    [showUnits]="false"
    [showSubtitle]="false"
    [imageSrc]="'../assets/analytics.png'"
    [showImage]="true"
    [imageHeight]="80"
    [imageWidth]="80"
    [title]="'HTML'"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#1f3240'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="900"
  ></circle-progress>

  </div> 
  <div class="col-sm-4 col-md-4 col-lg-4">

    <circle-progress
    [percent]="15"
    [radius]="100"
    [showUnits]="false"
    [showSubtitle]="false"
    [imageSrc]="'../assets/sql.png'"
    [showImage]="true"
    [imageHeight]="80"
    [imageWidth]="80"
    [title]="'HTML'"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#1f3240'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="900"
  ></circle-progress>

  </div> 

</div>